html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  word-spacing: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555252;
}

.container_inner {
  width: 1110px;
  margin: 0 auto;
}

/*      HEADER       */
.header {
  margin: 0;
  padding: 34px 0 30px 0;
}

.header__logo {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  float: left;
}
.header__logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.header_nav {
  float: right;
}
.header_nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_nav_item {
  float: left;
}
.header_nav_item:not(:last-of-type) {
  margin-right: 38px;
}
.header_nav_item a {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  color: #0f0101;
  text-transform: uppercase;
}

.header_nav_item a:hover,
.header_nav_item a:focus {
  color: #1abc9c;
}

/*      SLIDER       */
.main__slider {
  height: 600px;
  background-color: #323232;
  background-image: url("../img/slider_item_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main__slider::after {
  content: "";
  display: block;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*      SLIDER CONTROL     */
.main__slider_control {
  width: 1110px;
  position: absolute;
  top: 228px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.main__slider_control_item {
  padding: 0;
  border: none;
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 171, 0.55);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  line-height: 104px;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}

.main__slider_left {
  background-image: url("../img/icon/icon_control_left.png");
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.main__slider_right {
  background-image: url("../img/icon/icon_control_right.png");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

/*      SLIDER TEXT    */
.main__slider_text {
  list-style: none;
  max-width: 900px;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main__slider_title {
  margin: 0;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  color: #ff7200;
  text-transform: uppercase;
}
.main__slider_links {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
.main__slider_links > a {
  text-decoration: none;
  color: #fff;
}
.main__slider_text:hover .main__slider_title {
  color: #fff;
}

/*    COLLECTION     */
.main__collection {
  background-color: #e9f0fd;
  padding-bottom: 100px;
}
/*    COLLECTION TITLE     */
.main__collection_title {
  margin: 0;
  padding: 110px 0 80px 0;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.main__collection_title::after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 40px;
  width: 164px;
  height: 8px;
  background-color: #1abc9c;
}

/*    COLLECTION LIST     */
.main__collection_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*    COLLECTION ITEM     */
.main__collection_item {
  width: 255px;
  height: 322px;
  float: left;
  position: relative;
}
.main__collection_item:not(:last-of-type) {
  margin-right: 30px;
}
.main__collection_item img {
  display: block;
}
.main__collection_item > a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}
/*    COLLECTION ITEM FOOTER     */
.main__gallery_item_footer {
  background-color: #323232;
  width: 255px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main__collection_item:hover .main__gallery_item_footer {
  background-color: #1abc9c;
}
.main__gallery_item_name {
  margin: 0;
  padding-left: 14px;
  float: left;
}
.main__gallery_item_price {
  margin: 0;
  width: 55px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
}


/*    COLLECTION ITEM FOOTER - SELECT     */
.main__collection_item_select {
  display: none;
}
.main__collection_item:hover .main__collection_item_select {
  display: block;
  width: 255px;
  height: 290px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.main__collection_select_list {
  padding: 0;
  list-style: none;
  width: 170px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__collection_select_link {
  height: 50px;
  border: 1px solid white;
}
ul > .main__collection_select_link:hover {
  background-color: #1abc9c;
}
.main__collection_select_list a {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.main__collection_select_link:not(:last-of-type) {
  width: 50px;
  margin-bottom: 10px;
  float: left;
}
.main__collection_select_link:nth-of-type(-1n + 2) {
  margin-right: 10px;
}
.main__collection_select_link:last-of-type {
  clear: both;
}
.main__collection_select_link:nth-of-type(1) {
  background-image: url("../img/icon/icon_1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main__collection_select_link:nth-of-type(2) {
  background-image: url("../img/icon/icon_2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main__collection_select_link:nth-of-type(3) {
  background-image: url("../img/icon/icon_3.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main__collection_select_link:nth-of-type(4) {
  background-color: #323232;
}

.main__collection_select_link_last::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("../img/icon/icon_4.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main__collection_select_link_last {
  position: relative;
}
.main__collection_select_link_last > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 55px;
}

/*    FOOTER     */
.footer {
  background-color: #323232;
}
.footer > .container_inner {
  height: 88px;
  position: relative;
}
.footer__copyrights {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer a {
  text-decoration: none;
  color: #1abc9c;
}
